@gutter: 40px;

@background: #F4F5F9;
@border:     #D0D5E1;
@primary:    #3963CE;
@alt:        #4AB7CA;
@text:       #525870;
@text_2:     #868CA6;

@import "mixins";
@import "grid";

body {
	color: @text;
	display: flex;
  	flex-direction: column;
	font-family: Roboto, Arial;
	font-size: 14px;
	line-height: 20px;
  	min-height: 100vh;
}

.c {
	margin: 0 auto;
	max-width: 1100px;
	padding: 0 20px;
	width: 100%;
}

h1, h2, h3 {
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
}

h3 {
	color: @text_2;
	font-size: 16px;
	line-height: 20px;
}

p {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	.transition;
	color: @primary;
	font-weight: 700;
	text-decoration: none;
}

.btn {
	.rounded;
	background: @primary;
	color: white;
	cursor: pointer;
	font-weight: 700;
	height: 40px;
	line-height: 20px;
	padding: 10px 20px;
}

header, footer {
	.clearfix;
	background: @background;
	border-bottom: 1px solid @border;
	padding: 10px 0;
	.logo {
		color: @text;
		float: left;
		font-size: 20px;
		letter-spacing: .5px;
		margin: 10px 0;
		text-transform: uppercase;
		span {
			font-weight: 400;
		}
	}
	form {
		float: right;
		input:not([type='submit']) {
			.rounded;
			.transition;
			border: 2px solid @border;
			float: left;
			height: 40px;
			padding: 10px;
			&:focus {
				border-color: @primary;
			}
		}
		input[type='submit'] {
			.btn;
			margin-left: 10px;
		}
	}
	ul.nav {
		float: right;
		li {
			float: left;
			margin-left: 40px;
			a {
				display: block;
				padding: 10px 0;
			}
		}
	}
}
.breadcrumbs {
	ul {
		.clearfix;
		border-bottom: 1px solid @border;
		padding: 10px 0;
		li {
			float: left;
			a {
				display: block;
				&:after {
					color: @text_2;
					content: "\f105";
				    font-family: FontAwesome;
				    font-style: normal;
				    font-weight: normal;
				    margin: 0 10px;
				    text-decoration: inherit;
				}
			}
			&:last-child {
				a {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}
.main {
	flex: 1;
	padding: 40px 0;
}
footer {
	border-bottom: none;
	border-top: 1px solid @border;
	.copyright {
		clear: both;
		padding-top: 40px;
	}
}
.location-preview {
	border: 1px solid @border;
	margin-bottom: 20px;
	padding: 20px;
}
.pagination {
	.clearfix;
	li {
		float: left;
		margin-right: 5px;
		span, a {
			.rounded;
			color: @text;
			display: block;
			height: 30px;
			min-width: 30px;
			padding: 5px;
			text-align: center;
		}
		a {
			background: @border;
		}
		&.active {
			span {
				background: @text;
				color: white;
			}
		}
	}
}

.map, .external {
	background: @background;
	border: 1px solid @border;
	height: 300px;
	margin-bottom: 20px;
	padding: 10px;
}

#map {
	height: 100%;
}

table {
	border-collapse: collapse;
	margin-bottom: 20px;
	width: 100%;
	th, td {
		border: 1px solid @border;
		padding: 10px;
		text-align: left;
	}
}